<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>welkom to the League of legends info bar</h1>
<form action="/login" method="post">
    <div class="form-group">
        <label for="name">Naam: </label>
        <input type="text" id="email" name="name"/>
    </div> <br> 
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"/>
    </div> <br>
    <button type="submit">Login</button>
    <div class="text-center mt-3">
        <a href="/register" class="btn btn-secondary">Register</a>
    </div>
</form>
<%- include("partials/footer") %>
