<%- include("partials/header")%>
<h2>Regions Details</h2>
    <section>                   
        <div><img src="<%= Champ.region.regionEmblemUrl %>" alt=""></div>
    </section>
<%- include("partials/footer")%>
